* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F1F1F1;
  font-family: "Roboto", sans-serif;
  transition: 0.3s ease all;

}
body.dark {
  background: #111111;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

nav {
  background: #FEFEFE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.3s ease all;
  box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}
nav .logotipo {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
nav .enlaces {
  display: flex;
  align-items: center;
}
nav .enlaces a {
  margin-right: 40px;
}
nav .enlaces a:hover {
  color: #707070;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}


.grid {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0;
}
.grid .card {
  background: #FEFEFE;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: 195px;
  margin-top: 50px;
  transition: 0.3s ease all;
}
body.dark .grid .card {
  background: #222222;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}
.grid .card img {
  vertical-align: top;
  border-radius: 7px;
  position: absolute;
  top: -50px;
  width: calc(100% - 40px);
  max-height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid .card .botones {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.grid .card .botones .boton {
  padding: 10px;
  color: #fff;
  width: 100%;
  display: block;
  background: #111111;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s ease all;
}
.grid .card .botones .boton.primario {
  background: #3E60E9;
}
.grid .card .botones .boton.primario:hover {
  background: #254BE6;
}
.grid .card .botones .boton.secundario {
  background: #C8C8C8;
}
.grid .card .botones .boton.secundario:hover {
  background: #ACABAB;
}

div {
    color: #fff;
    text-decoration: none;
}

a {
    color: #e93e3e;
}

